@charset "utf-8";
.float_left{float: left;}

.login_panel{
	position: relative;
	top: 15vh;
	left: 1vw;
	float: left;
	width: 15vw;
	height: 25vh;
	border: solid .5px;
}

.login_box{
	position: relative;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	display: block;
	/*border: solid .5px;*/
}

.login{
	position: relative;
	width: 100%;
	height: 1.3vw;
	margin-bottom: .5vw;
}

.login_btn{
	position: relative;
	width: 100%;
	height: 2vw;
	cursor: pointer;
	font-size: 1vw;
}

.find_box{
	position: relative;
	width: 70%;
	height: 1.5vw;
	/*border: solid .5px;*/
}

.find{
	position: relative;
	float: left;
	font-size: .8vw;
	color: #464646;
	cursor: pointer;
	/*border: solid .5px;*/
}

.find:hover{
	text-decoration: underline;
}

.signup{
	float: none;
}

.profile_box{
	position: relative;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	display: none;
	/*border: solid .5px;*/
}

.porofile_id_box{
	position: absolute;
	border: solid .5px red;
}

.profile_photo_box{
	position: relative;
	width: 2.8vw;
	height: 2.8vw;
	border-radius: 2vw;
	/*border: solid .5px #B7B7B7;*/
	overflow: hidden;
}

.profile_photo{
	width: 100%;
	height: 100%;
}

.profile_info_box{
	margin-left: 5%; 
}

.profile_menu_box{
	position: relative;
	top: 1vw;
	width: 50%;
	height: 20%;
	/*border: solid .5px blue;*/
}

.profile_menu{
	/*margin-bottom: .1vh;*/
	cursor: pointer;
}

.logout_btn{
	position: absolute;
	top: 88%;
	text-align: left;
	font-size: .8vw;
	color: #464646;
	cursor: pointer;
	/*border: solid;*/
}

.logout_btn:hover{
	text-decoration: underline;
}

.rank_panel{
	position: absolute;
	width: 40vw;
	height: auto;
	top: 15vh;
	left: 20vw;
	/*border: solid .5px;*/

}

.list_box{
	position: relative;
	width: 100%;
	height: 8vh;
	border-bottom: solid .5px;
}

.list_txt{
	position: relative;
	width: 15%;
	height: 100%;
	float: left;
	/*border: solid .5px;*/
	text-align: center; /*센터 맞춤 속성*/
	display: flex; /*센터 맞춤 속성*/
	justify-content: center; /*센터 맞춤 속성*/
	align-items: center; /*센터 맞춤 속성*/
	font-size: 1vw;
}


.rank{
	/*font-size: 1.5vw;*/
	font-weight: 700;
	/*color: #FF0000;*/
}

.id{
	font-weight: 700;
}

.link_to_tipster{
	cursor: pointer;
}