@charset "utf-8";
.a{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 300px;
	background: white;
}

.menu_panel{
	position: relative;
	width: 100%;
	height: 70px;
	z-index: 5;
	background: #152c4a;
	border: solid .5px;
}

/*.sticky {
  position: fixed;
}*/

.photo_box{
	position: fixed;
	width: 100%;
	height: 300px;
}

.photo{
	width: 100%;
	height: 100%;
}

.float_left{float: left;}

.login_panel{
	position: relative;
	top: 15vh;
	left: 1vw;
	float: left;
	width: 15vw;
	height: 25vh;
	border: solid .5px;
}

.login_box{
	position: relative;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	display: block;
	/*border: solid .5px;*/
}

.login{
	position: relative;
	width: 100%;
	height: 1.3vw;
	margin-bottom: .5vw;
}

.login_btn{
	position: relative;
	width: 100%;
	height: 2vw;
	cursor: pointer;
	font-size: 1vw;
}

.find_box{
	position: relative;
	width: 70%;
	height: 1.5vw;
	/*border: solid .5px;*/
}

.find{
	position: relative;
	float: left;
	font-size: .8vw;
	color: #464646;
	cursor: pointer;
	/*border: solid .5px;*/
}

.find:hover{
	text-decoration: underline;
}

.signup{
	float: none;
}

.profile_box{
	position: relative;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	display: block;
	/*border: solid .5px;*/
}

.porofile_id_box{
	position: absolute;
	/*border: solid .5px red;*/
}

.profile_photo_box{
	position: relative;
	width: 2.8vw;
	height: 2.8vw;
	border-radius: 2vw;
	/*border: solid .5px #B7B7B7;*/
	overflow: hidden;
}

.profile_photo{
	width: 100%;
	height: 100%;
}

.profile_info_box{
	margin-left: 5%; 
}

.profile_menu_box{
	position: relative;
	top: 1vw;
	width: 50%;
	height: 20%;
	/*border: solid .5px blue;*/
}

.profile_menu{
	/*margin-bottom: .1vh;*/
	cursor: pointer;
}

.logout_btn{
	position: absolute;
	top: 88%;
	text-align: left;
	font-size: .8vw;
	color: #464646;
	cursor: pointer;
	/*border: solid;*/
}

.logout_btn:hover{
	text-decoration: underline;
}

.rank_panel{
	position: relative;
	width: 660px;
	height: 100%;
	background: white;
	/*border: solid .5px #DEDEDE;*/
	/*margin-bottom: 500px;*/
	font-family: 'Nanum Gothic', sans-serif;
}

.rank_box{
	position: relative;
	height: 100%;
	top: 100px;
	border: solid .5px #DEDEDE;

}

.rank_ttl{
	position: relative;
	width: 100%;
	height: 40px;
	text-align: center; /*센터 맞춤 속성*/
	display: flex; /*센터 맞춤 속성*/
	justify-content: center; /*센터 맞춤 속성*/
	align-items: center; /*센터 맞춤 속성*/
	background: #152c4a;
	color: white;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: .7px;
}

.list_box{
	position: relative;
	width: 100%;
	height: 40px;
	/*border: solid .5px;*/
}

.list_index{
	background: #DFDFDF;
	/*color: white;*/
}


.list_txt{
	position: relative;
	/*width: 15%;*/
	height: 100%;
	float: left;
	/*border: solid .5px;*/
	text-align: center; /*센터 맞춤 속성*/
	display: flex; /*센터 맞춤 속성*/
	justify-content: center; /*센터 맞춤 속성*/
	align-items: center; /*센터 맞춤 속성*/
	font-size: 15px;
	/*border: solid .5px;*/
}


.rank{
	width: 51px;
	font-size: 15px;
}


.rank_id{
	width: 191px;
}

.rank_dividend{
	width: 191px;
}

.link_to_tipster{
	width: 191px;
	cursor: pointer;
}


.index{
	font-size: 18px;
}


.id{
	width: 149px;
	font-weight: 700;
}
