@charset "utf-8";

a {
    text-decoration: none;
    color: black;
}

.float_left{float: left;}

.board_panel{
    position: relative;
    top: 150px;
    width: 1000px;
    height: auto;
    /*border: solid .5px;*/
    margin-bottom: 300px; 
}

.board_top_box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    /*border: solid .5px;*/
}

.write_btn{
    position: relative;
    width: auto;
    float: left;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    background: #e5bd5e;
    border-radius: 5px;
    /*cursor: pointer;*/
}

.line_up_box{
    position: relative;
    text-align: right;

}

.line_up{
    position: relative;
    height: 28px;
    width: 80px;
}


.post_box{
    /*border: solid .5px red;*/
}

.post_row{
    position: relative;
    width: 100%;
    height: 40px;
    cursor: pointer;
    /*border: solid .5px;*/
}

.post_row_hover:hover{
    background: #CBD5E3;
}

.post_row_index{
    background: #152c4a;
    color: white;
}

.post_column{
    position: relative;
    float: left;
    height: 100%;
    /*border: solid .5px;*/
    text-align: center; /*센터 맞춤 속성*/
    display: flex; /*센터 맞춤 속성*/
    align-items: center; /*센터 맞춤 속성*/
}

.post_id{
    width: 100px;
    margin-left: 5px;
}

.post_ttl{
    width: 450px;
}

.post_game{
    width: 300px;
}

.post_view{
    width: 50px;
}

.post_date{
    width: 90px;
}

.page_num_box{
    position: relative;
    top: 40px;
    width: 400px;
    height: 20px;
    text-align: center; /*센터 맞춤 속성*/
    line-height: 20px; /*센터 맞춤 속성*/
    /*border: solid .5px;*/
}

.page_num{
    position: relative;
    margin-right: 15px;
    display: inline-block; /*센터 맞춤 속성*/
    vertical-align: middle; /*센터 맞춤 속성*/
    line-height: normal; /*센터 맞춤 속성*/
    cursor: pointer;
    color: #787878;
}

.clicked_page_num{
    color: black;
    font-weight: 700;
}