.bolder{font-weight: 700;}

.tip_panel{
	position: relative;
	top: 100px;
	width: 900px;
	height: auto;
	padding: 0 10px 0 10px;
	background: white;
	font-family: 'Nanum Gothic', sans-serif;
	/*border: solid .5px;*/
}

.ttl{
	position: relative;
	width: 100%;
	height: 180px;
	/*border: solid .5px;*/
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 32px;
	font-weight: 700;
	text-align: center; /*센터 맞춤 속성*/
	display: flex; /*센터 맞춤 속성*/
	justify-content: center; /*센터 맞춤 속성*/
	align-items: center; /*센터 맞춤 속성*/
}

.info_box{
	position: relative;
	width: 100%;
	height: 50px;
	/*top: 10px;*/
	padding-bottom: 15px;
	border-bottom: solid .5px #D1D0D0;

}

.prof_box{
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	overflow: hidden;
}

.prof{
	width: 100%;
	height: 100%;
}

.info{
	position: absolute;
}

.view{
	color: #817E7E;
}

.date{
	color: #817E7E;
}

.rate_panel{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 60px;
}

.rate_box{
	position: relative;
	clear: left;
	/*border: solid;*/

}

.rate{
	position: relative;
	width: 100px;
	float: left;
	margin-right: 10px;
	line-height: 25px;
}

.game_selected{
	width: auto;
}


.star{
	position: relative;
	float: left;
	width: 25px;
	height: 25px;
	margin-right: 6px;
}

.star_img{
	width: 100%;
	height: 100%;
}

.contents_panel{
	position: relative;
	margin-top: 80px;
}

.contents_box{
	position: relative;
	margin-bottom: 80px;
}

.contents_ttl{
	margin-bottom: 10px;
	font-weight: 700;
}

.contents{
	position: relative;
	width: 100%;
	height: auto;
	line-height: 25px;
	/*margin-bottom: 300px;*/
	/*border: solid .5px;*/
}

.comment_panel{
	position: relative;
	width: 100%;
	height: 500px; /*max-height로 변경해주기*/
	margin-top: 150px;
	margin-bottom: 300px;
	border-top: solid .5px #D1D0D0;
	/*border: solid .5px red;*/
}

.comment_wrapper{
	position: relative;
	width: 100%;
	height: auto;
	top: 20px;
	/*border: solid orange;*/
}

.comment_info{
	position: relative;
	top: 10px;
	/*top: 18px;*/
}

.wrt_commnet_box{
	position: relative;
	top: 20px;
	width: 100%;
	height: 60px;
	/*border: solid .5px;*/
}

.wrt_comment{
	position: relative;
	min-width: 90%;
	max-width: 90%;
	height: 100%;
	float: left;
}

.comment_btn{
	position: relative;
	top: 2px;
	left: 1%;
	width: 8%;
	height: 100%;
	border-radius: 5px;
	background: #1B3557;
	color: white;
	border: none;
	text-align: center; /*센터 맞춤 속성*/
	display: flex; /*센터 맞춤 속성*/
	justify-content: center; /*센터 맞춤 속성*/
	align-items: center; /*센터 맞춤 속성*/
	cursor: pointer;
}

.comment_box{
	position: relative;
	top: 50px;
	width: 100%;
	height: auto;
	margin-top: 20px;
	/*border: solid .5px green;*/
}

.comment_row{
	position: relative;
	width: 100%;
	height: auto;
	/*border-bottom: solid .5px #DBDBDB;*/
}

.comment_colm{
	position: relative;
	height: auto;
	float: left;
	margin-bottom: 10px;
	text-align: justify;
	/*border:solid .5px green;*/
}

.comment_id{
	width: 10%;
	font-weight: 700;
	/*border:solid .5px blue;*/
}

.comment{
	width: 85%;
	line-height: 25px;
	/*border:solid .5px purple;*/
}