@charset "utf-8";

.left{float: left;}

.write_panel{
	position: relative;
	top: 150px;
	width: 900px;
	margin-bottom: 300px;
}

.item{
	margin-bottom: 6px;
	font-weight: 700;
}

.write_btn{
	position: relative;
	display: inline-block;
	margin-bottom: 20px;
	padding: 8px 10px 8px 10px; 
	background: #C9C9C9;
	border-radius: 8px;
	cursor: pointer;
}

.btn{
	position: relative;
	top: 15px;
	width: 100px;
	height: 35px;
	float: right;
	border: none;
	border-radius: 8px;
	background: #152c4a;
	color: white;
}

.btn:focus{
	outline: none;
}

.game_box{
	position: relative;
	width: 400px;
	margin: 0 0 15px 0;
	padding: 8px 14px 8px 14px;
	border-radius: 8px;
}

.game_box:focus{
	outline: none;
}

.expected_team_panel{
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.expected_team_opt{
	position: relative;
	width: 120px;
	margin: 0 0 15px 0;
	padding: 7px 14px 7px 14px;
	border-radius: 8px;
}

.expected_team_opt:focus{
	outline: none;
}

.rate_panel{
	position: relative;
	height: 33px;
	margin-bottom: 55px;
	float: none;
	/*border: solid .5px;*/
}

.star{
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 6px;
}

.star_img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.rate{
	position: relative;
	float: left;
	width: 23px;
	height: 23px;
	font-size: 23px;
}

.option_box{
	position: relative;
	width: 167px;
	height: 35px;
	margin-bottom: 10px;
	background: white;
	border: solid .5px #C9C9C9;
	border-radius: 20px;
	overflow: hidden;
} 

.radio_box input[type="radio"]{
    display:none;
}

.radio_box input[type="radio"] + span{
    display:inline-block;
    background:none;
    /* border:1px solid #dfdfdf; */    
    padding:0px 10px;
    text-align:center;
    height:35px;
    line-height:33px;
    font-weight:500;
    cursor:pointer;
}

.radio_box input[type="radio"]:checked + span{
    border:1px solid #dfdfdf;
    background:#152c4a;
    color: white;
}



.clicked{
	background: #BBBBBB;
}



.ttl{
	display: block;
	position: relative;
	width: 97%;
	height: 30px;
	border: solid .5px #C4C4C4;
	border-radius: 8px;
	padding: 8px 14px;
}

.ttl:focus{
	outline: none;
}

.contents_panel{
	position: relative;
	bottom: 20px;
}

.contents_box{
	position: relative;
	margin-top: 65px;
}

.contents{
	position: relative;
	top: 20px;
	width: 97%;
	height: 250px;
	border: solid .5px #C4C4C4;
	border-radius: 8px;
	padding: 14px 14px;
}

.contents:focus{
	outline: none;
}


